<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.calebabg.cs253researchproj" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<!-- Permission to receive remote notifications from Google Play Services -->
	<!-- Notice here that we have the package name of our application as a prefix on the permissions. -->
	<uses-permission android:name="com.calebabg.cs253researchproj.permission.MAPS_RECEIVE" />
	<permission android:name="com.calebabg.cs253researchproj.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<application android:label="CS253ShortestPath" android:icon="@mipmap/icon">
		<!-- Put your Google Maps V2 API Key here. -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="paste-your-api-key-here" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<!-- Necessary for apps that target Android 9.0 or higher -->
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
	<uses-feature android:name="android.hardware.location" android:required="false" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>